<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Author" content="Kairos Tay" />

    <title>Quantum Communication Simulator</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body class="py-3 px-5" style="background-color: #282828">
    <h1 class="text-center mb-4 text-white">BB84 Quantum Key Distribution Simulator</h1>
    <form action="/simulate" method="post">
        <div class="form-group">
          <label for="error_rate" class="text-white">Error Rate:</label>
          <input type="number" class="form-control" name="error_rate" step="0.01" required />
        </div>
      
        <div class="form-group">
          <label for="num_iterations" class="text-white">Number of Iterations:</label>
          <input type="number" class="form-control" name="num_iterations" required />
        </div>
      
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="eavesdrop" id="eavesdrop" />
          <label class="form-check-label text-white" for="eavesdrop">Simulate Eavesdropping</label>
        </div>

        <!-- Warning message for eavesdropping -->
        <div class="alert alert-warning" role="alert" id="eavesdropWarning" style="display: none;">
          Note: Error rate will not be used during eavesdropping simulation.
        </div>
      
        <button type="submit" class="btn btn-primary">Simulate</button>
    </form>

    <script>
      $(document).ready(function(){
        $('#eavesdrop').change(function(){
          if ($(this).is(':checked')) {
            $('#eavesdropWarning').show();
          } else {
            $('#eavesdropWarning').hide();
          }
        });
      });
    </script>
  </body>
</html>
